SECRET_KEY=supersecretkey123
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
SLA_HOURS=24
POSTGRES_USER=ticketflow
POSTGRES_PASSWORD=ticketflow1234
POSTGRES_DB=ticketflow_db
RABBITMQ_USER=ticketflow
RABBITMQ_PASSWORD=rabbit1234
